<div class="events-CheckWidget">
   <ws:partial
      template="tmpl!Events/BaseCard/Widget"
      switchToCommand="switchToProductList"
      enabled="{{ true }}"
      titleEnabled="{{ true }}"
      title="{[Бюджет]}"
   />

   <div class="events-CheckWidget__list"></div>
   <div class="events-CheckWidget__header">
      <div class="events-CheckWidget__debt">
         {{item.debt}} <span>R</span>
      </div>
      <SBIS3.CONTROLS.Button
              name="sendPayemntQuery"
              class="CheckWidget-ProductList__pay"
              visible="{{item.dept > 0}}"
              caption="Запросить деньги"
              style="primary"
              enabled="{{true}}"
              allowChangeEnable="{{false}}"
      />
   </div>
</div>