<div class="events-CheckWidget">
   <ws:partial
      template="tmpl!Events/BaseCard/Widget"
      switchToCommand="switchToProductList"
      enabled="{{ true }}"
      titleEnabled="{{ true }}"
      title="{[Бюджет]}"
   />
   <SBIS3.CONTROLS.Button
           name="sendPayemntQuery"
           class="CheckWidget-ProductList__pay"
           caption="Запросить деньги"
           style="primary"
           enabled="{{true}}"
           allowChangeEnable="{{false}}"
   />
   <div class="events-CheckWidget__list"></div>
</div>