<div class="events-CheckWidget">
   <ws:partial
      template="tmpl!Events/BaseCard/Widget"
      switchToCommand="switchToProductList"
      enabled="{{ true }}"
      titleEnabled="{{ true }}"
      title="{[Чеки]}"
   />

   <SBIS3.CONTROLS.Button.IconButton
      name="AddCheck"
      class="events-CheckWidget__AddCheck controls-IconButton__round-border-24"
      icon="sprite:icon-16 icon-AddButtonNew icon-primary"
      visible="{{ enabled }}"
   />

   <div class="events-CheckWidget__list"></div>
</div>