.events-Check__name {
  color: #242942;
  font-weight: bold;
  font-size: 16px;
  width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events-Check__price {
  color: #242942;
  font-size: 16px;
}

.events-Check {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.CheckWidget-ProductList__pay {
  margin-left: 4px;
  display: inline-block;
}

.events-CheckWidget__debt {

}

.CheckWidget-ProductList__pay {
  margin-left: 5px;
}

.events-CheckWidget__header {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  align-items: flex-end;
  border-top: 1px solid #F0F0F0;
  padding-top: 4px;
}

.events-CheckWidget__dive {
  background-color: white;
}

.events-CheckWidget__amount {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}