<div class="events-DebtDetailing">
   <div class="events-DebtDetailing__name">{{ detailing.name }}</div>
   <div class="events-DebtDetailing__amount
         {{ detailing.amount > 0 ? 'events-DebtDetailing__amount--green' : 'events-DebtDetailing__amount--red'}}" >
      {{ detailing.amount > 0 ? '+' }}
      {{ detailing.amount }}
     ₽
   </div>
</div>