<div class="events-DebtDetailing">
  <div class="events-DebtDetailing__list">
    <ws:for data="d in detailing">
      <div class="events-DebtDetailing__row">
        <div class="events-DebtDetailing__name">{{ d.name }}</div>
        <div class="events-DebtDetailing__status">
          <div class="events-DebtDetailing__amount
               {{ d.amount > 0 ? 'events-DebtDetailing__amount--green' : 'events-DebtDetailing__amount--red'}}">
            {{ d.amount > 0 ? '+' }}{{ d.amount }}
            ₽
          </div>
          <Events.CheckInCheck.StatusButton.StatusButton
              name="sbButton"
              class="StatusButton"
              icon=""
              owner="{{owner}}"
              slave="{{d.memberId}}"
              amount="{{d.amount}}"
          />
        </div>
      </div>
    </ws:for>
  </div>
</div>