<div class="events-ProductList">
  <SBIS3.CONTROLS.Button.BackButton
     class="events-ProductList__BackButton"
     caption="{[Бюджет]}"
     command="switchToMain"
     allowChangeEnable="{{ false }}"
     style="accent2"
  />
  <SBIS3.CONTROLS.Menu.MenuIcon
      name="addCheck" 
      caption="Загрузить чек"
      visible="{{true}}"
      parentProperty="parent"
      icon="sprite:icon-24 icon-AddButton icon-primary"
      idProperty="id">
      <ws:items>
         <ws:Array>
            <ws:Object icon="sprite:icon-16 icon-WebCamera  icon-primary" id="{{1}}" title="С веб-камеры"/>
            <ws:Object icon="icon-16 icon-TFComputer icon-primary" id="{{2}}" title="С компьютера"/>
         </ws:Array>
      </ws:items>
   </SBIS3.CONTROLS.Menu.MenuIcon>

  <div class="events-ProductList__list">
  </div>



  <SBIS3.CONTROLS.Button
          name="fixChecks"
          class="events-ProductList__rec_button"
          caption="{[Зафиксировать]}"
          style="primary"
  />
  <SBIS3.CONTROLS.Button
          name="sendPayemntQuery"
         
          caption="Запросить деньги"
          style="primary"
          enabled="{{false}}"
  />



</div>