* {
    margin: auto 0;

}
.events-Product__name {
    color: #242942;
    font-weight: bold;
    padding-left: 10px;
}

.events-Product__price {
    padding-left: 10px;
}
.events-Product__dropdown {
    padding-left: 10px;

    max-width: 80px;
}

.events-Product__filedlink {
    padding-left: 10px;
    height: 30px;
}
.events-Product {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 430px;
    font-size: 16px;
}

