<div class="events-ProductList">
  <SBIS3.CONTROLS.Button.BackButton
     class="events-ProductList__BackButton"
     caption="{[Бюджет]}"
     command="switchToMain"
     allowChangeEnable="{{ false }}"
     style="accent2"
  />

  <div class="events-ProductList__list">
  </div>



  <SBIS3.CONTROLS.Button
          name="fixChecks"
          class="events-ProductList__rec_button"
          caption="{[Зафиксировать]}"
          style="primary"
  />
  <SBIS3.CONTROLS.Button
          name="sendPayemntQuery"
         
          caption="Запросить деньги"
          style="primary"
          enabled="{{false}}"
  />



</div>