<div class="events-ProductList">
   <div class="events-ProductList__header">
      <SBIS3.CONTROLS.Button.BackButton
         class="events-ProductList__BackButton"
         caption="{[Бюджет]}"
         command="switchToMain"
         allowChangeEnable="{{ false }}"
         style="accent2"
      />

      <SBIS3.CONTROLS.Button.IconButton
         name="AddCheck"
         class="events-ProductList__AddCheck controls-IconButton__round-border-24"
         icon="sprite:icon-16 icon-AddButtonNew icon-primary"
      />
   </div>

   <div class="events-ProductList__list"></div>
</div>