* {
    margin: auto 0;

}
.events-Product__name {
    color: #242942;
    margin-left: 10px;
    font-size: 18px;
    width: 422px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.events-Product__price {
    font-size: 14px;
    margin-left: 10px;
    width: 50px;
}
.events-Product__dropdown {
    margin-left: 30px;
    width: 60px;
}

.events-Product__filedlink {
    height: 30px;
    width: 272px;

}
.events-Product {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    align-items: flex-end;
    font-size: 16px;
}

.events-ProductList__btn_container {
    display: flex;
    justify-content: right;
}

.events-ProductList__rec_button {
    margin-left: 10px;
}

.events-ProductList__save {
    margin-left: 10px;
}

.events-ProductList__pay {
    margin-left: 10px;
}

.events-ProductList__container {
    margin-top: 10px;
    display: inline-flex;
    justify-content: flex-end;
    width: 678px;
}

.events-ProductList,
.events-ProductList__list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.events-ProductList__list {
    overflow-y: scroll;
    overflow-x: hidden;
}