<div class="events-Checks">
    <div class="events-Checks__name">{{ item.nameCheck }}</div>

    <ws:for data="i in item.products">
        <Events.CheckInCheck.ProductList.Product
                item="{{i}}"/>
    </ws:for>

</div>