<div style="padding: 10px">
    <Events.CheckInCheck.MembersFieldLink 
    width="200"
    name="payer"
    multiselect="{{ false }}"
    eventId="{{ eventId }}"
    >
    </Events.CheckInCheck.MembersFieldLink>
    <SBIS3.CONTROLS.Button primaty="{{true}}" name="choice" caption="Выбрать" class="PayerChoice__button"></SBIS3.CONTROLS.Button>
</div>