<div class="events-Product">
   <div class="events-Product__name">{{ item.name }}</div>
   <SBIS3.CONTROLS.Switcher.Double
      name="Switcher"
      stateOff="все"
      stateOn=""
   />
   <RecipientChoice.FiledLink/>
</div>