<div class="PaymentQuery" >
   <h4 style="text-align: center">Вы можете запросить оплату от участников</h4><br/>
   <div style="text-align: center">
      <SBIS3.CONTROLS.Button
         name="pqSubmitButton"
         caption="Запросить оплату"
         primary="true"
         icon="sprite: icon-24 icon-MoneyPrice icon-hover"
      />
   </div>
   
</div>